body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:375px;
  top:130px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:502px;
  top:412px;
  width:106px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:815px;
  top:130px;
  width:360px;
  height:640px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:815px;
  top:181px;
  width:360px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u8 {
  position:absolute;
  left:819px;
  top:191px;
  width:353px;
  height:50px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:1115px;
  top:191px;
  width:57px;
  height:50px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u10 {
  position:absolute;
  left:819px;
  top:245px;
  width:358px;
  height:527px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:58px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:58px;
}
#u12 {
  position:absolute;
  left:2px;
  top:21px;
  width:349px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:58px;
  width:353px;
  height:58px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:58px;
}
#u14 {
  position:absolute;
  left:2px;
  top:21px;
  width:349px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:116px;
  width:353px;
  height:58px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:58px;
}
#u16 {
  position:absolute;
  left:2px;
  top:21px;
  width:349px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:174px;
  width:353px;
  height:58px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:58px;
}
#u18 {
  position:absolute;
  left:2px;
  top:21px;
  width:349px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:232px;
  width:353px;
  height:58px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:58px;
}
#u20 {
  position:absolute;
  left:2px;
  top:21px;
  width:349px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:290px;
  width:353px;
  height:58px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:58px;
}
#u22 {
  position:absolute;
  left:2px;
  top:21px;
  width:349px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:348px;
  width:353px;
  height:58px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:58px;
}
#u24 {
  position:absolute;
  left:2px;
  top:21px;
  width:349px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:406px;
  width:353px;
  height:58px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:58px;
}
#u26 {
  position:absolute;
  left:2px;
  top:21px;
  width:349px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:464px;
  width:353px;
  height:58px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:58px;
}
#u28 {
  position:absolute;
  left:2px;
  top:21px;
  width:349px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:953px;
  top:141px;
  width:73px;
  height:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:375px;
  top:830px;
  width:360px;
  height:640px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u33 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:375px;
  top:881px;
  width:360px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u35 {
  position:absolute;
  left:384px;
  top:1300px;
  width:343px;
  height:167px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:167px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:462px;
  top:1253px;
  width:203px;
  height:37px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:382px;
  top:1253px;
  width:70px;
  height:37px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:529px;
  top:845px;
  width:51px;
  height:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:462px;
  top:911px;
  width:40px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:403px;
  top:908px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:462px;
  top:937px;
  width:83px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:403px;
  top:934px;
  width:16px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:462px;
  top:966px;
  width:22px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:403px;
  top:963px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:384px;
  top:1080px;
  width:343px;
  height:160px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:160px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  position:absolute;
  left:395px;
  top:1051px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:438px;
  top:1046px;
  width:57px;
  height:28px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u56 {
  position:absolute;
  left:675px;
  top:1255px;
  width:50px;
  height:30px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u57 {
  position:absolute;
  left:1320px;
  top:790px;
  width:40px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u58 {
  position:absolute;
  left:100px;
  top:790px;
  width:30px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  height:1px;
}
#u59 {
  position:absolute;
  left:750px;
  top:2910px;
  width:40px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:23px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  height:1px;
}
#u62 {
  position:absolute;
  left:810px;
  top:1510px;
  width:360px;
  height:640px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u63 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:810px;
  top:1561px;
  width:360px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u65 {
  position:absolute;
  left:964px;
  top:1530px;
  width:51px;
  height:28px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:897px;
  top:1596px;
  width:40px;
  height:16px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:838px;
  top:1593px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:897px;
  top:1622px;
  width:83px;
  height:16px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:838px;
  top:1619px;
  width:16px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:897px;
  top:1651px;
  width:22px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:838px;
  top:1648px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:870px;
  top:1690px;
  width:120px;
  height:40px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u80 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:989px;
  top:1690px;
  width:120px;
  height:40px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:830px;
  top:1760px;
  width:320px;
  height:380px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:380px;
}
#u84 {
  position:absolute;
  left:2px;
  top:182px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:374px;
  top:1510px;
  width:360px;
  height:640px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u88 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:374px;
  top:1561px;
  width:360px;
  height:10px;
}
#u89_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u89_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u90 {
  position:absolute;
  left:528px;
  top:1530px;
  width:51px;
  height:28px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:28px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:461px;
  top:1596px;
  width:40px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:402px;
  top:1593px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:461px;
  top:1622px;
  width:83px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:402px;
  top:1619px;
  width:16px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:461px;
  top:1651px;
  width:22px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:402px;
  top:1648px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:434px;
  top:1690px;
  width:120px;
  height:40px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u105 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:553px;
  top:1690px;
  width:120px;
  height:40px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u107 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:394px;
  top:1760px;
  width:320px;
  height:380px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:380px;
}
#u109 {
  position:absolute;
  left:2px;
  top:182px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:405px;
  top:1830px;
  width:300px;
  height:300px;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u111 {
  position:absolute;
  left:410px;
  top:1784px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:640px;
  top:1781px;
  width:60px;
  height:25px;
}
#u113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u114 {
  position:absolute;
  left:842px;
  top:1775px;
  width:228px;
  height:40px;
}
#u114_input {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u114_input:disabled {
  color:grayText;
}
#u115 {
  position:absolute;
  left:1080px;
  top:1774px;
  width:60px;
  height:40px;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u116 {
  position:absolute;
  left:841px;
  top:1860px;
  width:300px;
  height:270px;
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:270px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u117 {
  position:absolute;
  left:842px;
  top:1826px;
  width:77px;
  height:25px;
}
#u117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u118 {
  position:absolute;
  left:1072px;
  top:1826px;
  width:68px;
  height:25px;
}
#u118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u120 {
  position:absolute;
  left:375px;
  top:2220px;
  width:360px;
  height:640px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u121 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:375px;
  top:2271px;
  width:360px;
  height:10px;
}
#u122_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u122_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u123 {
  position:absolute;
  left:530px;
  top:2235px;
  width:49px;
  height:28px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:384px;
  top:2360px;
  width:346px;
  height:149px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:46px;
  text-align:center;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:46px;
}
#u127 {
  position:absolute;
  left:2px;
  top:15px;
  width:337px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:0px;
  top:46px;
  width:341px;
  height:48px;
  text-align:center;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:48px;
}
#u129 {
  position:absolute;
  left:2px;
  top:16px;
  width:337px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:94px;
  width:341px;
  height:50px;
  text-align:center;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:50px;
}
#u131 {
  position:absolute;
  left:2px;
  top:17px;
  width:337px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:391px;
  top:2305px;
  width:45px;
  height:35px;
}
#u132_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u133 {
  position:absolute;
  left:658px;
  top:2373px;
  width:60px;
  height:25px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u134 {
  position:absolute;
  left:658px;
  top:2419px;
  width:60px;
  height:25px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u135 {
  position:absolute;
  left:658px;
  top:2465px;
  width:60px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u136 {
  position:absolute;
  left:673px;
  top:2305px;
  width:45px;
  height:35px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
